In [15]:
 df = pd.read_csv("/Users/Gunnar/Documents/GitHub/UCI-Air-Quality-Analysis-Prediction/input/AirQualityUCI.csv", parse_dates={'datetime': ['Date', 'Time']})

In [16]:
df

,datetime,CO_GT,PT08_S1_CO,NMHC_GT,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level
0,2004-11-23 19:00:00,11.9,2008,-200,50.6,1980,1389,325,220,2562,2342,12.4,74.7,1.0741,Very High
1,2004-11-23 20:00:00,11.5,1918,-200,49.4,1958,1358,335,190,2477,2237,11.5,76.2,1.0324,Very High
2,2004-11-17 18:00:00,10.2,1802,-200,47.7,1924,748,356,192,2235,2452,13.7,52.8,0.8244,Very High
3,2004-11-23 18:00:00,10.2,1982,-200,49.5,1959,1369,322,227,2536,2386,13.2,72.6,1.0936,Very High
4,2004-11-26 18:00:00,10.1,1956,-200,45.2,1877,1389,347,255,2338,2465,15.5,62.8,1.0979,Very High
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-03-23 04:00:00,-200.0,993,-200,2.3,604,85,848,65,1160,762,14.5,66.4,1.0919,Very low
9353,2005-03-26 04:00:00,-200.0,1122,-200,6.0,811,181,641,92,1336,1122,16.2,71.2,1.3013,Very low
9354,2005-03-29 04:00:00,-200.0,883,-200,1.3,530,63,997,46,1102,617,13.7,68.2,1.0611,Very low
9355,2005-04-01 04:00:00,-200.0,818,-200,0.8,473,47,1257,41,898,323,13.7,48.8,0.7606,Very low
9356,2005-04-04 04:00:00,-200.0,864,-200,0.8,478,52,1116,43,958,489,11.8,56.0,0.7743,Very low

In [22]:
    #Read UCI AQ Dataset
    df = pd.read_csv("/Users/Gunnar/Documents/GitHub/UCI-Air-Quality-Analysis-Prediction/input/AirQualityUCI.csv", parse_dates={'datetime': ['Date', 'Time']})

    # 8443 values out of 9357 are -200. This coulmn is not needed thus dropping this coulumn .
    df.drop('NMHC_GT', axis=1, inplace=True)

    # In data we found a lot of -200 which seems to be a error. Removing those values and replacing with NaN i.e null 
    df.replace(to_replace= -200, value= np.NaN, inplace= True)

    # Use fillna function to fill the missing values with an estimate value
    col_list = df.columns[2:13]

    for i in col_list:
        df[i] = df[i].fillna(df[i].mean())
        
    #pandas datetimeindex docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html
    #efficient way to extract year from string format date
    df['MONTH'] = pd.DatetimeIndex(df['datetime']).month

    df['HOUR'] = pd.DatetimeIndex(df['datetime']).hour
    
    df.drop("datetime", axis = 1)

,CO_GT,PT08_S1_CO,C6H6_GT,PT08_S2_NMHC,Nox_GT,PT08_S3_Nox,NO2_GT,PT08_S4_NO2,PT08_S5_O3,T,RH,AH,CO_level,MONTH,HOUR
0,11.9,2008.0,50.6,1980.0,1389.0,325.0,220.0,2562.0,2342.0,12.4,74.7,1.0741,Very High,11,19
1,11.5,1918.0,49.4,1958.0,1358.0,335.0,190.0,2477.0,2237.0,11.5,76.2,1.0324,Very High,11,20
2,10.2,1802.0,47.7,1924.0,748.0,356.0,192.0,2235.0,2452.0,13.7,52.8,0.8244,Very High,11,18
3,10.2,1982.0,49.5,1959.0,1369.0,322.0,227.0,2536.0,2386.0,13.2,72.6,1.0936,Very High,11,18
4,10.1,1956.0,45.2,1877.0,1389.0,347.0,255.0,2338.0,2465.0,15.5,62.8,1.0979,Very High,11,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,NaN,993.0,2.3,604.0,85.0,848.0,65.0,1160.0,762.0,14.5,66.4,1.0919,Very low,3,4
9353,NaN,1122.0,6.0,811.0,181.0,641.0,92.0,1336.0,1122.0,16.2,71.2,1.3013,Very low,3,4
9354,NaN,883.0,1.3,530.0,63.0,997.0,46.0,1102.0,617.0,13.7,68.2,1.0611,Very low,3,4
9355,NaN,818.0,0.8,473.0,47.0,1257.0,41.0,898.0,323.0,13.7,48.8,0.7606,Very low,4,4
9356,NaN,864.0,0.8,478.0,52.0,1116.0,43.0,958.0,489.0,11.8,56.0,0.7743,Very low,4,4

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9357 entries, 0 to 9356
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   datetime      9357 non-null   datetime64[ns]
 1   CO_GT         7674 non-null   float64
 2   PT08_S1_CO    9357 non-null   float64
 3   C6H6_GT       9357 non-null   float64
 4   PT08_S2_NMHC  9357 non-null   float64
 5   Nox_GT        9357 non-null   float64
 6   PT08_S3_Nox   9357 non-null   float64
 7   NO2_GT        9357 non-null   float64
 8   PT08_S4_NO2   9357 non-null   float64
 9   PT08_S5_O3    9357 non-null   float64
 10  T             9357 non-null   float64
 11  RH            9357 non-null   float64
 12  AH            9357 non-null   float64
 13  CO_level      9357 non-null   object
 14  MONTH         9357 non-null   int64
 15  HOUR          9357 non-null   int64
dtypes: datetime64[ns](1), float64(12), int64(2), object(1)
memory usage: 1.1+ MB

In [23]:
# -*- coding: utf-8 -*-
"""
Created on Wed Jul 18 08:51:47 2018
@author: Narayanan Abishek
"""

# -*- coding: utf-8 -*-
"""
Created on Wed Jul 18 08:51:47 2018
@author: Narayanan Abishek
"""

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from sklearn.metrics import explained_variance_score
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from keras.layers import Activation
from keras.layers.normalization import BatchNormalization, regularizers
from keras.utils import np_utils
from sklearn import metrics 
from sklearn.model_selection import cross_validate
from sklearn.model_selection import StratifiedKFold, KFold

lamda = 0.01

#original dataset
def get_data():
    # Preprocessing
    # - 2 Deleting and rearranging columns
    # - 3 Working with data types (set the correct type)
    # - 4 Filtering data
    # - 5 Removing duplicates
    # - 6 Correcting typos
    # - 7 Conditional formatting
    # - 8 Replace missing values   - 1 Standardize column names

    #Read UCI AQ Dataset
    df = pd.read_csv("/Users/Gunnar/Documents/GitHub/UCI-Air-Quality-Analysis-Prediction/input/AirQualityUCI.csv", parse_dates={'datetime': ['Date', 'Time']})

    # 8443 values out of 9357 are -200. This coulmn is not needed thus dropping this coulumn .
    df.drop('NMHC_GT', axis=1, inplace=True)

    # In data we found a lot of -200 which seems to be a error. Removing those values and replacing with NaN i.e null 
    df.replace(to_replace= -200, value= np.NaN, inplace= True)

    # Use fillna function to fill the missing values with an estimate value
    col_list = df.columns[2:13]

    for i in col_list:
        df[i] = df[i].fillna(df[i].mean())
        
    #pandas datetimeindex docs: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DatetimeIndex.html
    #efficient way to extract year from string format date
    df['MONTH'] = pd.DatetimeIndex(df['datetime']).month

    df['HOUR'] = pd.DatetimeIndex(df['datetime']).hour
    
    df.drop("datetime", axis = 1)

    return airquality_df
    
    
#feature scaling for the gradient descent to converge faster
def feature_scaling(x):
    
    X_mean = np.mean(x,axis=0)
    X_sigma = np.std(x,axis=0)
    X = np.divide((x - X_mean),X_sigma)
    return X

#initializing the weights and bias
def initialize_params_linear():
    
    w = tf.Variable(tf.random.truncated_normal([90, 1], mean=0.0, stddev=1.0, dtype=tf.float64))
    b = tf.Variable(tf.zeros(1, dtype = tf.float64))
    return w,b

def calc(X,Y,w,b):
    
    predictions = tf.add(tf.matmul(X,w),b)
    regularizer = tf.nn.l2_loss(w)
    error = tf.reduce_mean(tf.square(Y-predictions) + (lamda * regularizer) )
    return predictions,error #returns tensor

def linear_regression_simple(train_X,train_Y,val_X,val_Y,test_X,test_Y,w,b,learning_rate = 0.5,num_epochs=7500):
    
    
    predictions,cost = calc(train_X,train_Y,w,b) #yhat and cost
    points = [[],[]] #to store train_set_cost
    optimizer = tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(cost) 
    #initialize the optimizer before the global initialization, since optimizer creates variables leads in memory leak
    init = tf.global_variables_initializer()
    
    with tf.Session() as sess:
        
        
        sess.run(init)
        
        for i in list(range(num_epochs)):
           
            sess.run(optimizer)
            if i%10 == 0:
                points[0].append(i+1) #iteration
                points[1].append(sess.run(cost)) #cost

        pred = predictions.eval() #to convert predictions <tensor> into pred <numpy array>
        
        valid_predictions,valid_cost = calc(val_X,val_Y,w,b) #yhat, cost for validation set
    
        val_Y_pred = valid_predictions.eval() #to convert valid_predictions<tensor> into valid_pred<numpy>
                
        plt.figure()
        plt.plot(points[0], points[1], 'r--') #red marking
        plt.axis = (0,num_epochs,0,20)
        plt.show()
        
        test_predictions,test_cost = calc(test_X,test_Y,w,b)
        test_Y_pred = test_predictions.eval()
        
   
    print("\nTraining set accuracy: \n")
    print('Mean Absolute Error:', metrics.mean_absolute_error(train_Y,pred))  
    print('Mean Squared Error:', metrics.mean_squared_error(train_Y,pred))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(train_Y,pred)))
        
    print("\nValidation set accuracy: \n")
    print('Mean Absolute Error:', metrics.mean_absolute_error(val_Y, val_Y_pred))  
    print('Mean Squared Error:', metrics.mean_squared_error(val_Y, val_Y_pred))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(val_Y, val_Y_pred)))
        
    print("\nTesting set accuracy: \n")
    
   
    
    print('Mean Absolute Error:', metrics.mean_absolute_error(test_Y, test_Y_pred))  
    print('Mean Squared Error:', metrics.mean_squared_error(test_Y, test_Y_pred))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_Y, test_Y_pred)))

    print("\nActual Train Value: ", train_Y[82], "Predicted Train value: ", pred[82])
    print("\nActual Validation Value: ", val_Y[834], "Predicted Validation value: ", val_Y_pred[834])
    print("\nActual Test Value: ", test_Y[948], "Predicted Test value: ", test_Y_pred[948])
    
    return test_Y_pred

def nn_regression(final_train_X,train_y,final_val_X,val_y,final_test_X,test_y):
    
    model = Sequential()
    model.add(Dense(90, input_dim = 90,kernel_initializer='normal',kernel_regularizer = regularizers.l2(0.00025)))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Dense(40,kernel_initializer='normal',kernel_regularizer = regularizers.l2(0.00025)))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Dense(40,kernel_initializer='normal',kernel_regularizer = regularizers.l2(0.00025)))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Dense(40,kernel_initializer='normal',kernel_regularizer = regularizers.l2(0.00025)))
    model.add(BatchNormalization())
    model.add(Activation('relu'))
    model.add(Dense(1,kernel_initializer = 'normal',kernel_regularizer = regularizers.l2(0.00025)))
    model.compile(loss = 'mean_squared_error', optimizer = 'adam')
    
    trained_model = model.fit(final_train_X, train_y, epochs = 200,validation_data=(final_val_X,val_y))
    
    y_pred = model.predict(final_test_X)
    
    print("\nTesting set accuracy: \n")
     
    print('Mean Absolute Error:', metrics.mean_absolute_error(test_y, y_pred))  
    print('Mean Squared Error:', metrics.mean_squared_error(test_y, y_pred))  
    print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(test_y, y_pred)))

    print("\nActual Test Value: ", test_y[500], "Predicted Test value: ", y_pred[500])
    

    plt.plot(trained_model.history['loss'], color = 'red', label = 'Train data loss')
    plt.plot(trained_model.history['val_loss'], color = 'blue', label = 'Validation data loss')
    plt.title('Loss')
    plt.legend()
    plt.show()

    return y_pred

def comparison(test_y,lin_reg_pred_y,nn_reg_pred_y):
    
    plt.plot(np.abs(test_y - lin_reg_pred_y), color = 'red', label = 'Difference between Test data and linear regression predicted values')
    plt.plot(np.abs(test_y - nn_reg_pred_y), color = 'blue', label = 'Difference between Test data and DNN regressor predicted values')
    plt.legend()
    plt.show()
    
def model():
    
    my_df = get_data()
    w,b = initialize_params_linear()
    
    x = my_df.iloc[:,1:13]
    y = my_df.iloc[:,13]
    
    from sklearn.preprocessing import PolynomialFeatures
    
    poly = PolynomialFeatures(degree=2)
    
    my_old_X = poly.fit_transform(x)
    
    my_X = np.nan_to_num(my_old_X)    
    
    X = np.reshape(np.array(my_X),(my_X.shape[0],my_X.shape[1]))
    Y = np.reshape(np.array(y),(y.shape[0],1))
        
    from sklearn.model_selection import train_test_split  
        
    train_x, val_x, train_y,val_y = train_test_split(X, Y, test_size=0.2, random_state=0) 
    
    train_x, test_x, train_y,test_y = train_test_split(train_x,train_y, test_size=0.2, random_state=0) 
 
    train_X = np.delete(train_x, 0, axis=1)
    final_train_X = feature_scaling(train_X)
    
    val_X = np.delete(val_x, 0, axis=1)
    final_val_X = feature_scaling(val_X)
    
    test_X = np.delete(test_x, 0, axis=1)
    final_test_X = feature_scaling(test_X)
    
        
    print("Shape of train-X-data:",final_train_X.shape)
    print("Shape of train-Y-data:",train_y.shape)

    print("Shape of val-X-data:",final_val_X.shape)
    print("Shape of val-Y-data:",val_y.shape)
    
    print("Shape of test-X-data:",final_test_X.shape)
    print("Shape of test-Y-data:",test_y.shape)
    
    lin_reg_pred_y = linear_regression_simple(final_train_X,train_y,final_val_X,val_y,final_test_X,test_y,w,b)
    nn_reg_pred_y = nn_regression(final_train_X,train_y,final_val_X,val_y,final_test_X,test_y)
    
    comparison(test_y,lin_reg_pred_y,nn_reg_pred_y)

model()

ValueError: could not convert string to float: '19:00:00'